<style>
  .container {
    font-family: 'Roboto Slab', serif;
    background-color: rgb(167, 218, 220);
    border-radius: 20px 0px 20px 0px;
    box-shadow: 10px 10px 10px rgba(162, 195, 212, 0.842);
  }
</style>
<% if (locals.user) {%>
<div class="container mt-5 col-md-5">
  <h4 style="text-align: center;font-weight: 700;padding-top: 10px;">Add an interview </h4>
  <hr>
  <form class="row g-3 mt-1" style="--bs-border-opacity: 0.5" action="/interview/create" method="POST">

    <div class="col-12">
      <label for="company" class="form-label">Company</label>
      <input type="text" class="form-control" placeholder="Enter company name" id="company" name="company" required />
    </div>

    <div class="col-12">
      <label for="date" class="form-label">Date</label>
      <input type="date" class="form-control" placeholder="Enter student email" id="date" name="date" required />
    </div>


    <div class="col-11 m-md-4" style="text-align: center;">
      <button type="submit" style="padding-left: 20px;padding-right: 20px;" class="btn btn-primary">Add interview</button>
    </div>

  </form>
</div>
</div>

<%} %>