<style>
  .container {
    font-family: 'Roboto Slab', serif;
    background-color: rgb(167, 218, 220);
    border-radius: 20px 0px 20px 0px;
    box-shadow: 10px 10px 10px rgba(162, 195, 212, 0.842);
  }
</style>
<div class="container mt-4 col-md-5">
  <h1 class="text-center">Sign Up</h1>
  <hr>
  <form action="/create" method="POST" class="mt-2 p-2">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username" required />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" required />
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" required />
    </div>
    <div class="mb-3">
      <label for="confirm_password" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" id="confirm_password" name="confirm_password" required />
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
  </form>

  <p class="mt-4 pb-3"><a href="/">Already have an account?</a></p>
</div>